* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F7F9;
  overflow-x: hidden;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(./img/fondo4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  max-width: 85%;
  margin: auto;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.observado {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.skills {
  margin: 40px 0;
}

.contenedor-cards {
  width: 50%;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 25px 10px;
  grid-auto-flow: row;
  grid-template-areas: ". .";
  justify-items: center;
}

.skills-container {
  display: flex;
}

.informacion {
  width: 50%;
}

.information-cards {
  width: 40%;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 40px;
  margin: 20px auto;
  height: fit-content;
  position: sticky;
  width: 80%;
  top: 90px;
}

.information-cards:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
}

.information-cards img {
  max-width: 100px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #FFB87F #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #FFB87F;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 900px) {
  .contenedor-cards {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
  }
}